*.cmake
*.pyc
*.a
*.so

CMakeCache.txt
CMakeFiles/
Makefile
PyGMO/CMakeFiles/
PyGMO/Makefile
PyGMO/algorithm/CMakeFiles/
PyGMO/algorithm/Makefile
PyGMO/core/CMakeFiles/
PyGMO/core/Makefile
PyGMO/migration/CMakeFiles/
PyGMO/migration/Makefile
PyGMO/problem/CMakeFiles/
PyGMO/problem/Makefile
PyGMO/topology/CMakeFiles/
PyGMO/topology/Makefile
Testing/
examples/CMakeFiles/
examples/Makefile
examples/hm_2_asteroids
examples/migrate_or_not
install_manifest.txt
main
src/CMakeFiles/
src/Makefile
tests/CMakeFiles/
tests/Makefile
tests/test_001

